<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor_StateManagement</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
       <li class="nav-item px-3">
            <NavLink class="nav-link" href="CategorySenderComponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Category 
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ProductReceiveComponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Product 
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="AddCategoryPage">
                <span class="oi plus" aria-hidden="true"></span> Add Category
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="AddProductPage">
                <span class="oi plus" aria-hidden="true"></span> Add Product
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="FormState">
                <span class="plus" aria-hidden="true"></span> Form State
            </NavLink>
        </li>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
